header {
  border: 3px solid;
  margin: 2px;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 72%;
  text-align: center;
}

section {
  border: 3px solid;
  margin: 2px;
  text-align: center;
  font-size: 1.5em;
  height: 5em;
  padding: 1em;
  width: 45%;
}
article {
  position: absolute;
  border: 3px solid;
  margin: 1em;
  width: 40%;
  align-items: center;
}
#content {
  display: flex;
}
aside {
  border: 3px solid;
  height: 5em;
  margin: 2px;
  width: 23%;
}
