body {
  text-align: center;
}
header {
  border: 3px solid;
  margin: 2px;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 50%;
  text-align: center;
}

section {
  border: 3px solid;
  margin: 2px;
  text-align: center;
  height: 5em;
  padding: 1em;
  width: 35%;
}
article {
  border: 3px solid;
  margin: 2px auto;
  height: 50px;
  align-items: center;
}
#content {
  font-size: 1.5em;
  display: flex;
  font-weight: bold;
}
aside {
  border: 3px solid;
  margin: 2px;
  width: 10%;
  font-weight: bold;
  padding-top: 1em;
}
footer {
  border: 3px solid;
  width: 50%;
  font-size: 1.5em;
  margin: 2px;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
}
